<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ name}}'s Watchlist</title>
    </head>
    <body>
        <h2>{{ name}}'s Watchlist</h2>
        {# 使用length过滤器获取movies变量的长度 #}
        <p>{{ movies|length }} Titles</p>
        <ul>
            {% for movie in movies %}
            <li>{{ movie.title }} - {{movie.year }}</li>
            {% endfor %}
        </ul>
        <footer>
            <small>&copy; 2018 <a href="http://helloflask.com/book/3">HelloFlask</a>
            </small>
        </footer>
    </body>
</html>